.menu1 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 67px;
    margin-left: 15.97px;
    }
    .menu1 li {
    width: 138px;
    height: 101px;
    margin: 0 0 20.9px 0;
    padding: 0;
    }
.menu2 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: -365.5px;
    margin-left: 446px;
    }
    .menu2 li {
    width: 80px;
    height: 112px;
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
    }
.menu3 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 88px;
    margin-left: 446px;
    }
    .menu3 li {
    width: 80px;
    height: 112px;
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
    }
.menu4 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: -320.4px;
    margin-left: 878px;
    }
    .menu4 li {
    width: 406px;
    height: 101px;
    margin: 0 0 20px 0;
    padding: 0;
    }
.shadow2 {
    position: absolute; 
    width: 406px;
    height: 101px;
    left: 0px;
    top: 0px;
    margin-top: 938px;
    margin-left: 878px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 37.41%, rgba(23, 23, 23, 0.917403) 100%);
}
.shadow3 {
    position: absolute; 
    width: 406px;
    height: 101px;
    left: 0px;
    top: 0px;
    margin-top: 1059px;
    margin-left: 878px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 37.41%, rgba(23, 23, 23, 0.917403) 100%);
}
.shadow4 {
    position: absolute; 
    width: 406px;
    height: 101px;
    left: 0px;
    top: 0px;
    margin-top: 1180px;
    margin-left: 878px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 37.41%, rgba(23, 23, 23, 0.917403) 100%);
}
.line1 {
    position: absolute;
    width: 1300px;
    height: 1px;
    left: 0px;
    top: 0px;
    margin-top: 1302px;
    margin-left: 0px;
    }
