  .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }

  .preloader__row {
    position: relative;
    top: 50%;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
  }           
  

  .loaded_hiding .preloader {
    transition: 0.534s opacity;
    opacity: 1;
  }

  .loaded .preloader {
    display: none;
  }
  .L1{
    position: absolute;
  width: 120px;
  height: 997.88px;
  left: 191px;
  margin-left: 730px;
  margin-top: -560px;
  background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
  transform: rotate(-120deg);
  }
  .L2{
    position: absolute;
  width: 120px;
  height: 997.88px;
  left: 660px;
  top: 1072.86px;
  margin-left: 700px;
  margin-top: -860px;
  background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
  transform: rotate(-120deg);
  }
  .L3{
    position: absolute;
  width: 120px;
  height: 997.88px;
  left: 461.33px;
  top: 417.8px;
  margin-top: 650px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 34.75%, rgba(255, 255, 255, 0.1) 100%);
  transform: rotate(60deg);
  }
  .D{
    margin-left: 1300px;
    margin-top: -600px;
  }
  .U{
    margin-left: 1300px;
    margin-top: 290px;
  }
  .BG2{
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
  }
.background{
  background-color: #2B076E;  
  width: 1440px;
}
.oval{
  position: absolute;
  left: 151px;
  top: -250px;
  width: 686px;
  height: 686px;
  color: #290099;
}
.txt1{
font-weight: bold;
}

.chart{
  background: #35068C;
border-radius: 16px;
}
.card1{
    background: #491F98;
    backdrop-filter: blur(250px);
    border-radius: 16px;
}
.card2{
    background: #491F98;
    border-radius: 16px;
    filter: drop-shadow(15px 20px 40px rgba(172, 116, 218, 0.15));
}
.oval1{
    position: absolute;
    left:1440px;
    width: 686px;
    height: 686px;
    transform: rotate(180deg);
}
.table{
    background: #35068C;
backdrop-filter: blur(4px);
border-radius: 16px;
}
.eth{
    background: #4610AD;
border-radius: 16px;
}
.start{
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    width:1440px;
}
.mining{
    background-image: url(./img/start.svg);
    background-color: #3671E9;
border-radius: 16px;
}
footer{
    background: #0D0D2B;
    width: 1440px;
}
.bgf1{
    background: #0D0D2B;
    width: 1440px;
}