body{
    background: #5F7AD3;
}
.logo{
    background: #FFFFFF;
    position: absolute;  
    width: 115px;
    height: 59px;  
    margin-top: 20;
    margin-left: 20; 
}
.bg{
    background: #FFFFFF;
    position: absolute;
    width: 1300px;
    height: 2202px;
    margin-top: 93px;
    margin-left: 100px;
}

.hover{
    background: #EA4737;
    width: 110px;
    height: 80px;
    margin-left: 547px;
    margin-top:  0px;    
}
.shape{
    position: absolute;
    width: 12px;
    height: 20px;
    margin-left: 92px;
    margin-top: 53px;        
}
.search{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 1165px;
    margin-top: -50px; 
}
.photo{
    position: absolute;
    width: 42px;
    height: 42px;
    margin-left: 1223px;
    margin-top: -54 px;
}
.oval{
    width: 18px;
    height: 18px;
    margin-left: 1253px;
    margin-top: -30 px;
}
.vos{
    position: absolute;
    width: 16px;
    height: 18px;
    margin-left: 1px;
    margin-top: 1px;
}